.logo{
    height: 75px;
    width: 75px;
    background-color: crimson;
    background-image: url(https://picsum.photos/200);
    border-radius: 50%;
}

.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}